* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    min-height: 100vh;

}

.container {
    position: relative;

}

.clock {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgb(22, 22, 22);
    border: 2px solid rgb(192, 206, 140);
    box-shadow: 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}

.clock::before {
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    z-index: 2;
}

.hand {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: flex-end;
}

.hand i {
    position: absolute;
    height: var(--h);
    width: 4px;
    background-color: var(--clr);
    border-radius: 10px;
}